/* Only apply animation if user prefers no reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 20s linear infinite;
  }
}

/* Define the spinning animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content{
    margin-top: 100px;
}